/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --font: 'Poppins', sans-serif;
  --title-font-size: 2.25rem;
  
  --big-font-size: 1.5rem;
  --middle-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --bg-color: #000;
  --second-bg-color: #808080;
  --text-color: #fff;
  --second-text-color: #000;
  --main-color: #ffea00;
  --height-nav: 3em;
  --padding-container: 3em 0;
  --border-bottom: 4px solid var(--main-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body{
  font-family: var(--font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--bg-color);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

img{
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

textarea{
  resize: none;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.btn{
  background-color: var(--main-color);
  color: var(--second-text-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  border: none;
  padding: .5em 1em;
  border-radius: .4em;
  outline: none;
  cursor: pointer;
}

.btn:hover{
  background-color: #caba00;
}

.social-media{
  display: flex;
}

.social-media a{
  font-size: var(--big-font-size);
  transition: color .3s ease;
}

.social-media a:hover{
  color: var(--main-color);
}

.section__content{
  text-align: center;
}

.section__title{
  display: inline-block;
  font-size: var(--big-font-size);
  border-bottom: var(--border-bottom);
  margin-bottom: 1em;
}

.section__title--black{
  color: var(--second-text-color);
}

.header{
  width: 100%;
  height: 100vh;
}

.nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--height-nav);
  background-color: var(--bg-color);
}

.nav__content{
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo{
  font-size: var(--big-font-size);
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 1px;
}

.nav__logo span{
  color: var(--main-color);
  font-size: 2rem;
}

.nav__icon-menu{
  font-size: var(--big-font-size);
  cursor: pointer;
}

.nav__links{
  position: absolute;
  top: -150vh;
  left: 0;
  background-color: rgba(255,255,255, .8);
  backdrop-filter: blur(5px);

  width: 100%;
  height: 100vh;
  padding-top: 4em;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: .8s ease;
}

.nav__link{
  margin-bottom: 2em;
}

.nav__link a{
  font-size: var(--middle-font-size);
  font-weight: 500;
  color: var(--second-text-color);
  text-decoration: underline;
}

.nav.active .nav__links{
  top: var(--height-nav);
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: url('../images/ras.jpg');
  background-size: cover;
  background-position: center right;
  padding-top: 20%;
}

.hero__content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.hero__content h3{
  font-size: var(--middle-font-size);
}

.hero__title{
  font-size: var(--title-font-size);
  margin: .2em 0 .5em;
}

.hero__title span{
  color: var(--main-color);
}

.hero__content p{
  max-width: 80%;
  margin-bottom: 2em;
}

.social-media--hero{
  flex-direction: column;
  position: absolute;
  bottom: 2em;
  left: 0;
}


.services{
  background-color: var(--second-bg-color);
}

.services__cards{
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 2rem;
}

.services__card{
  background-color: var(--bg-color);
  padding: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services__card-icon{
  font-size: var(--big-font-size);
  color: var(--main-color);
}

.services__card-title{
  font-size: var(--middle-font-size);
  margin: 1em 0;
}

.services__card-description{
  text-align: center;
}


.about__text{
  text-align: center;
  margin-bottom: 1.5em;
}


.proyects{
  background-color: var(--second-bg-color);
}

.proyects__cards{
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 1em;
}

.proyects__card{
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.proyects__card-info{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  padding: 0 1em;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proyects__card:hover .proyects__card-info{
  display: flex;
}

.proyects__card-title{
  font-size: var(--middle-font-size);
  margin-bottom: .5em;
}

.proyects__card-description{
  text-align: center;
}

.contact__content{
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.contact__socialmedia h2{
  font-size: var(--big-font-size);
  color: var(--main-color);
}

.contact__socialmedia p{
  margin: .5em 0 1em;
}

.social-media--contact{
  gap: 2em;
}

.contact__form p{
  font-size: var(--middle-font-size);
  margin-bottom: 1em;
  font-weight: 500;
}

.form__input,
.form textarea{
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: .5em;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  background-color: #333333;
  color: var(--text-color);
}

.form__btn{
  display: block;
  margin: 0 auto;
  font-size: var(--middle-font-size);
}


.footer{
  padding: 1em 0;
}

.footer p{
  font-size: var(--small-font-size);
  text-align: center;
}

